#header{
    display: flex;
    justify-content: center;
}

#footer{
    display: flex;
    justify-content: center;
}

#containerMain{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}